body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#user-info {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

#recipe-form-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    /* border: 1px solid gray; */
    background: ghostwhite;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: 2px solid gray; */
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.3s ease-out;
}
form:hover{
    box-shadow: none;
}
label {
    margin: 10px 0 5px;
}

input, select, textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
